version: "3.9"

services:
  repairs-api:
    build:
      context: .
    ports:
      - "8080:80"
    env_file:
      - .env
    environment:
      SCHEDULING_API_URL: http://scheduling
      ADDRESSES_API_URL: http://buildings-register-simulator:3010
      ADDRESSES_ORGANISATION_ID: foo
      DB_USERNAME: housing_repairs
      DB_PASSWORD: password
      DB_HOST: postgres
      DB_NAME: repairs
      AUTHENTICATION_IDENTIFIER: FOO

  postgres:
    image: library/postgres:12
    environment:
      POSTGRES_USER: housing_repairs
      POSTGRES_PASSWORD: password
      POSTGRES_DB: repairs
    ports:
      - "5432:5432"

  scheduling:
    build:
      context: ../HousingRepairsSchedulingApi
    env_file:
      - ../HousingRepairsSchedulingApi/.env
    environment:
      AUTHENTICATION_IDENTIFIER: FOO

  buildings-register-simulator:
    build:
      context: ./simulator
    ports:
      - "3010:3010"

  frontend:
    build:
      context: ../housing-repairs-online-frontend
    environment:
      REPAIRS_API_BASE_URL: http://repairs-api
      REPAIRS_API_IDENTIFIER: FOO
    ports:
      - "3000:3000"
